.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid teal;
    width: 30%;
}

ul{
    list-style-type: none;
}

li{
    border: 1px solid teal;
    padding: 15px;
}

li a{
    margin: 10px;
}